.bg-split {
  position: fixed;
  inset: 0;
  overflow: hidden;
}

.left-half,
.right-half {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100vh;
}

.left-half {
  left: 0;
  background: #ccc;
  transform: skewX(-10deg);
  transform-origin: top right;
}

.right-half {
  right: 0;
  background: black;
  transform: skewX(-10deg);
  transform-origin: top left;
}
body{
  background-color: black;
}